<!DOCTYPE HTML>
<head>
  <title>Essay Questions</title>
</head>
<style>
  body{
    background-color:#3295e6;
  }
  h1 {
    color: white;
    font-family: Comic Sans MS;
    font-size: 37px;
  }
  ol {
    font-size: 20px;
  }

  p {
    color: white;
    font-family: Comic Sans MS;
    font-size: 28px;
  }
  ol li{
    color: white;
    font-family: Comic Sans MS;
    font-size: 25px;
  }
</style>
<body>
  <h1>Below are some examples of the essay questions that you might come across:</h1>
  <p>
    <b><u style="color:#fff;">Note:</u></b> All questions do not require the answer to be in a paragraph
    form. Some answers can be listed in bullets.
  </p>
  <br>
  <ol>
    <li>How were you first introduced to Computer Science? How have you
      continued to develop your technical skills and seek additional exposure
      to the field?</li>
      <br>
    <li>What is your strongest programming language? How much experience do you
      have using the language? Go into detail about how you used this technical
      language. If talking about a group project, be specific about your role
      in the final product. (Examples can include projects, coursework,
      competitions, websites, previous internships, etc.)</li>
      <br>
    <li>At Google, we believe that a diversity of perspectives, ideas, and
      cultures leads to the creation of better products and services. Tell us
      about your background and experiences and how they make you unique.</li>
      <br>
    <li>List the technical courses you will be taking next semester. If you
      have not registered for classes yet, please list the courses you plan on
      taking.</li>
      <br>
    <li>List any clubs and/or organizations that you participate in.</li>
  </ol>
