<!DOCTYPE HTML>
<head>
  <title>Interview Questions</title>
</head>
<style>
  body{
    background-color: #3295e6
  }
  h1 {
    background: #3295e6;
    color: white;
    font-family: Comic Sans MS;
    font-size: 37px;
  }
  li {
    font-size: 27px;
    color: #fff;
  }

  p {
    font-size: 20px;
  }
</style>
<body>
  <h1>Below are some examples of the interview questions that you might be asked by your interviewer:</h1>
  <br>
  <ol>
    <li>What is Software Engineering?</li>
    <p><u>Sample answer:</u>
      <br>
    Software Engineering is a process of developing a software product in a
    well-defined systematic approach. In other words, developing a software by
    using scientific principles, methods, and procedures.</p>
    <br>
    <li>What are the different types of models available in SDLC?</li>
    <p><u>Sample answer:</u>
      <br>
      Many models have been proposed, to carry out the software implementation
      efficiently. Some of them include the Waterfall Model, Agile Model,
      Spiral Model, Iterative Model, V-Model etc.</p>
      <br>
    <li>Explain Functional Points?</li>
      <p><u>Sample answer:</u>
        <br>
      Functional points are used to measure the size of the software product.
      In some business, scenarios play a key role in tracking and estimating the
      project delivery.</p>
      <br>
      <li>What is Software Configuration Management?</li>
      <p><u>Sample answer:</u>
        <br>
      Software Configuration Management helps users to track the overall changes
      made in a software product delivery. Updates or changes made to the
      software are tracked in terms of development and requirements gathering.</p>
      <br>
      <li>What is Change Control?</li>
      <p><u>Sample answer:</u>
        <br>
      Change control tracks the changes made in a software to ensure consistency
      and updates are incorporated as per the enterprise standards.</p>
      <br>
      <li>Mention few project management tools?</li>
      <p><u>Sample answer:</u>
        <br>
      Many project management tools are utilized as per the enterprise standards
      some of them include: Gantt Charts, PERT Charts, Milestone Checklists,
      Histograms, MS project, Status reports etc.</p>
      <br>
      <li>What are functional and non- functional requirements?</li>
      <p><u>Sample answer:</u>
        <br>
      Functional requirements are utilized to specify the functional features as
       per the business requirements. For Example, adding a payment option to
       buy content from a website. Whereas Non- functional requirements provide
       insights into security, performance, user interface, interoperability
       costs etc.</p>
      <br>
      <li>What are Software Metrics?</li>
      <p><u>Sample answer:</u>
        <br>
      Metrics are utilized to guide the software product delivery as per the
      business standards. Metrics can also be used to measure few features of
      software product delivery. Metrics are divided into requirement metrics,
      product metrics, performance metrics, and process metrics.</p>
      <br>
      <li>Mention a few software analysis & Design tools?</li>
      <p><u>Sample answer:</u>
        <br>
      Some of the key software analysis & design tools are Data flow Diagrams
      (DFD), Structured Charts, Data Dictionary, UML (Unified Modeling Languages)
      diagrams, ER (Entity Relationship) Diagrams etc.</p>
      <br>
      <li>What is Data Dictionary?</li>
      <p><u>Sample answer:</u>
        <br>
      A data dictionary is also known as metadata. Data Dictionary is utilized
      to capture the information related to naming conventions of objects and
      files utilized in the software project.</p>
      <br>
    </ol>
