<html>

<head>
  <link rel="stylesheet" href="/stylesheets/login.css">
  <title>Login in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Anxious Intern</p>
    <!-- <img id="g_pic"src="http://www.vitascientia.lt/assets/google.png"> -->
    <p class="gsign">Log in with</p>
    <img id="g_gif"src="https://media2.giphy.com/media/5SZ3E5u0JRsPe/giphy.gif?cid=790b76114eef33b207516c6677c2bd60fde560c3457fcd79&rid=giphy.gif">
        <a class="submit" href="{{signinlink}}">Login</a>




</body>

</html>
