<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/stylesheets/setup.css">
</head>
<div class="container">

    <form id="signup" method="post" action="/update">

        <div class="header">

            <h3>Update Information</h3>



        </div>

        <div class="sep"></div>

        <div class="inputs">

            <input type="text"placeholder="Full Name" name="name" value="{{fname}}">

            <input type="text"placeholder="Resume" name="resume" value="{{Resume}}">

            <input type="text"placeholder="Cover Letter" name="cover_letter" value="{{cover_letter}}">

            <input type="text"placeholder="Github" name="Git" value="{{Git}}">

            <input type="text"placeholder="Languages" name="lang" maxlength="20" value="{{Languages}}">

            <input type="text"placeholder="Highschool Transcripts" name="hs_trans" value="{{hs_trans}}">

            <input type="text"placeholder="College Unoffical Transcripts" name="cu_trans" value="{{cu_trans}}">

            <input type="text"placeholder="College Offical Transcripts" name="co_trans" value="{{co_trans}}">


            <input id="submit" type="submit">

        </div>

    </form>

</div>
